@model SunRise.Models.Enqiry
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">

            <img src="~/images/1.jpg" height="150" />

        </div>
        <div class="col-lg-2">

            <img src="~/images/2.jpg" height="150" />

        </div>
        <div class="col-lg-2">

            <img src="~/images/3.jpg" height="150" />

        </div>

        <div class="col-lg-2">

            <img src="~/images/4.jpg" height="150" />

        </div>
        <div class="col-lg-2">

            <img src="~/images/5.jpg" height="150" />

        </div>
        <div class="col-lg-2">

            <img src="~/images/6.jpg" height="150" />

        </div>


    </div>

</div>


<div class="container" style="height:100px">
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4">
            <p>
                VNS ReadyMix is a leader in the distribution of building Concrete and much more. For more information, please contact our Vijayawada Corporate Office.
            </p>

            <address>
                <strong><u>Contact:</u></strong><br/>
                <strong>Plant Address:</strong><br/>
                Kolanukonda,Tadepalli(Mandal),Guntur(District)<br/>
               @* <abbr title="Phone">P:</abbr> (123) 456-7890
                <abbr title="Fax">F:</abbr> (123) 456-7890*@
                <strong>Office Address:</strong><br/>
                Shop No 17,1st Floor,K.S Vyas Police Complex,Labbipet,Vijayawada
                @*<a href="mailto:#">exam.ple@example.com</a>*@
            </address>

        </div>

        <div class="col-lg-4">

          @Html.BeginForm("SendEnqry","Home")
            {

                <div class="form-group">
                    <label for="name">Name:</label>
                    @Html.TextBoxFor(x=>x.Name,new { @class = "form-control" })                 
                </div>


                <div class="form-group">
                    <label for="email">Email address:</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                    
                  
                </div>


                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    @Html.TextBoxFor(x => x.Contact, new { @class = "form-control" })
                    
                 
                </div>

                <div class="form-group">
                    <label for="city">City</label>
                    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                    
                  
                </div>

                <div class="form-group">
                    <label for="contry">Country</label>
                    @Html.TextBoxFor(x => x.Country, new { @class = "form-control" })
                    
                  
                </div>

                <div class="form-group">
                    <label for="req">Your Requirements</label>

                    @Html.TextAreaFor(x=>x.YourRequirements, new { @class = "form-control" })
                </div>
                <div class="form-group">
                   <input type="submit"
                           class="btn btn-primary" value="Send Request" />
                </div>

          }


        </div>

        <div class="col-lg-2">
        </div>
    </div>
</div>

