<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  
</head>
<body>

    <div id="main">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2"></div>

                    <div class="col-lg-2">

                        <p><span class="glyphicon glyphicon-envelope"></span> ch.hai4u@gmail.com</p>

                    </div>
                    <div class="col-lg-1">

                        <p><span class="glyphicon glyphicon-headphones"></span> 9052511666</p>

                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Corporate Policies</a></li>
                            <li><a href="#">CSR</a></li>
                            <li><a href="#">Updates</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2"></div>
                </div>

            </div>


        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-3">

                    <img src="~/images/vnsLogo.png" />

                </div>
                <div class="col-lg-1">

                </div>

                <div class="col-lg-6">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home","Index","Home")</li>

                      
                       
                            <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Divisions <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                    </ul>
                            </li>

                        <li>@Html.ActionLink("Quality Commitment", "QualityCommit", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Careers", "Carer", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    </ul>

                </div>
               

                <div class="col-lg-2"></div>
            </div>

        </div>


      



        <div>
            @RenderBody()
            <hr />
        </div>


        <div class="navbar navbar-default " style="bottom:0px" role="navigation">

            <div class="container">

                <div class="navbar-text pull-left">

                    © Ready Mix Enterprises Ltd. Built by Creative Open.
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
